<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Document</title>
	<link
	    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
	    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	    crossorigin="anonymous"/>
    </head>
    <body>
	<div class="container mt-4" id="crudApp">
    	    <h2 class="alert alert-success text-center">
                Latihan CRUD dengan menggunakan Vue Js dan MySQL
	    </h2>
            <div class="card">
    	        <div class="card-header">
		    <button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modaltambah">Tambah Data</button>
		</div>
	        <div class="card-body">
        	    <table class="table table-striped">
		        <thead>
			    <tr class="bg-dark text-white">
			        <th>No</th>
				<th>Nama Depan</th>
				<th>Nama Belakang</th>
				<th>Edit</th>
				<th>Hapus</th>
			    </tr>
			</thead>
			<tbody>
			    <tr v-for="(item, index) in allData" :key="index">
			        <td>{{ index+1 }}</td>
				<td>{{ item.first_name }}</td>
				<td>{{ item.last_name }}</td>
				<td>
						<button class="btn btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#modaledit"
						@click="editData(item.id, item.first_name, item.last_name)">Edit</button>
				</td>
				<td>
					<button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalhapus"
					@click="hapusData(item.id, item.first_name, item.last_name)">Hapus</button>
				</td>
			    </tr>
			</tbody>
		    </table>
		</div>
	    </div>
	  	

		<div class="modal fade" id="modaltambah" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Form Tambah</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
					<div class="modal-body">
					<div class="form-group mb-2">
					<label for="">Nama Depan</label>
					<input type="text" class="form-control" v-model="first_name" required>
				</div>
				<div class="form-group">
					<label for="">Nama Belakang</label>
					<input type="text" class="form-control" v-model="last_name" required>
				</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button class="btn btn-primary" @click="simpanData">Kirim</button>
				</div>
				</div>
			</div>
		</div>
		             
			<div class="modal fade" id="modaledit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Form Edit</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<input type="hidden" id="id" v-model="id">
						<div class="form-group mb-2">
							<label for="">id</label>
							<input type="text" class="form-control" v-model="id" readonly>
						</div>
						
						<div class="form-group mb-2">
							<label for="">Nama Depan</label>
							<input type="text" class="form-control" v-model="first_name">
						</div>
						<div class="form-group">
							<label for="">Nama Belakang</label>
							<input type="text" class="form-control" v-model="last_name">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button class="btn btn-primary" @click="updateData">Ubah</button>
					</div>
				</div>
				</div>
			</div>

		             
			<div class="modal fade" id="modalhapus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Form Edit</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<input type="hidden" id="id" v-model="id">
							<div class="form-group mb-2">
								<label for="">Data akan dihapus, Yakin ?</label>								
							</div>
						</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batal</button>
						<button class="btn btn-primary" @click="deleteData">Hapus</button>
					</div>
				</div>
				</div>
			</div>

        </div>
	<script
	    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
       	    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	    crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
    	    var app = new Vue({
		el: "#crudApp",
		data: {
		    allData: "",
		    first_name: "",
		    last_name: "",
		    id: "",
		},
		methods: {

                    fetchAllData: function () {
                        axios
                            .post("action.php", {
                                action: "fetchall",
                            })
                            .then(function (response) {
				app.allData = response.data;
			    });
			  },

				simpanData: function(){
					if(app.first_name == '' || app.last_name == ''){
						alert('isi semua data terlebih dahulu!');
					}else{                
						axios
						.post("action.php", {
							action: "insert",
						first_name: app.first_name,
						last_name: app.last_name
						})
						.then(function (response){
						app.fetchAllData()
						$("#modaltambah").modal("hide"); 
						app.first_name = ''
						app.last_name = ''
						});
					}
				},
				    

				//isi form saat modal edit tampil
				editData: function(id, first_name, last_name){

					//isi input id 
					app.id = id

					//isi input nama depan
					app.first_name = first_name

					//isi input nama belakang
					app.last_name = last_name
				},

				//metode untuk update data
				updateData: function(){
				if(app.id == '' || app.first_name == '' || app.last_name == ''){
					alert('isi semua data terlebih dahulu!');
				}else{                
					axios
						.post("action.php", {
							action: "update",
							id: app.id,
							first_name: app.first_name,
							last_name: app.last_name
						})
						.then(function (response){

							app.fetchAllData()

							$("#modaledit").modal("hide"); 

							app.id          = ''
							app.first_name  = ''
							app.last_name   = ''
						});
				}
				},


				hapusData: function(id, first_name, last_name){
					app.id = id

					app.first_name = first_name

					app.last_name = last_name
				},

				deleteData: function(){
					if(app.id == ''){
						alert('Tidak ada yang perlu dihapus!');
					}else{                
						axios
							.post("action.php", {
								action: "delete",
								id: app.id
							})
							.then(function (response){
	
								app.fetchAllData()
	
								$("#modalhapus").modal("hide"); 
	

							});
						}
					},
	
			}, 
			created: function(){
			  this.fetchAllData()
			}
		  });
        </script>
    </body>
</html>